.identity-provider {
    display: flex;
    justify-content: space-between;
}

/* Define colors for each social provider */
#social-google {
  color: #4285f4; /* Google blue */
  border-color: #4285f4; /* Google blue */
}

#social-facebook {
  color: #3b5998; /* Facebook blue */
  border-color: #3b5998; /* Facebook blue */
}

#social-twitter {
  color: #1da1f2; /* Twitter blue */
  border-color: #1da1f2; /* Twitter blue */
}

#social-github {
  color: #333; /* GitHub black */
  border-color: #333; /* GitHub black */
}

#social-linkedin {
  color: #0077b5; /* LinkedIn blue */
  border-color: #0077b5; /* LinkedIn blue */
}

#social-microsoft {
  color: #f65314; /* Microsoft orange */
  border-color: #f65314; /* Microsoft orange */
}

#social-stackoverflow {
  color: #f48024; /* Stack Overflow orange */
  border-color: #f48024; /* Stack Overflow orange */
}

#social-bitbucket {
  color: #205081; /* Bitbucket blue */
  border-color: #205081; /* Bitbucket blue */
}

#social-openshift-v4 {
  color: #326ce5; /* Openshift v4 blue */
  border-color: #326ce5; /* Openshift v4 blue */
}

#social-openshift-v5 {
  color: #f2a900; /* Openshift v5 yellow */
  border-color: #f2a900; /* Openshift v5 yellow */
}

#social-gitlab {
  color: #fc6d26; /* GitLab orange */
  border-color: #fc6d26; /* GitLab orange */
}

#social-paypal {
  color: #003087; /* PayPal blue */
  border-color: #003087; /* PayPal blue */
}